// colores
$verdeoscuro: #0A7029;
$verdeclaro: #C8DF52;
$amarillo: #FEDE00;
$menta: #DBE8D8;


$size: 60px;
$font-size: 1em;
$padding: 0px 10px;
$margin: 0px 3px;


@each $comida in olivach, olivagr, panqueque, pasta, pate, aceituna {
    .#{$comida}-producto {
        background-image: url("../assets/images/#{$comida}.jpg");
        width: 100%;
        height: 30vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

    }
}